.contacto {
  margin-top: 5rem;
  padding: 1rem;
  background-color: var(--fondo-contacto);
  text-align: center;
  width: fit-content;
}

.formulario-contacto {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  & iframe {
    border: none;
    width: 85vw;
    height: 20rem;
    
  }
  
}
.contacto h2 {
  margin-bottom: 20px;
}

