.estudios {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  color: azure;
}

.container-estudios {
  width: 100%; /* width */
  padding: 2rem;
  margin-top: 5rem;
  line-height: 2.5rem; /* spacing between text paragraphs */
  font-size: large;
  margin: 8rem;

  & .container-estudios-section {

    & img {
      border-radius: 50%;
    }
  }
